@import  "@/css/mixin.scss";

.signInOverlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--overlay);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signInContainer {
  box-sizing: border-box;
  width: 400px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  border-radius: 4px;
  padding: 40px;
  position: relative;

  .signInClose {
    width: 48px;
    height: 48px;
    position: absolute;
    right: 10px;
    top: -50px;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    line-height: 48px;
    border-radius: 50%;
    cursor: pointer;
  }

  h2 {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
}

.googleSSOContainer {
  @include gradientButton(var(--gradient), ".googleSSO");
  width: 100%;
}
