@import  "@/css/mixin.scss";

.signInOverlay {
  @include overlay();
}

.signInContainer {
  box-sizing: border-box;
  width: 400px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px #000000;
  border-radius: 4px;
  padding: 40px;
  position: relative;

  .signInClose {
    @include closeButton();
  }

  h2 {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
}

.googleSSOContainer {
  @include gradientButton(var(--gradient), ".googleSSO");
  width: 100%;
}
