@import  "@/css/mixin.scss";

.entryContainer {
  @include overlay();
  height: 100vh;

  .entryClose {
    @include closeButton();
  }

  .entryBodyContainer {
    position: relative;
    box-sizing: border-box;
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    border-radius: 2px;
    margin-top: 100px;
  }
  .entryBody {
    overflow: scroll;
    height: calc(100vh - 100px);
    -ms-overflow-style: none;
    -moz-scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .entryContents {
    background: #FFFFFF;
    padding: 80px;
    font-size: 14px;
  }
  .entryEyecatch {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50% ;
    position: relative;
    background-color: rgba(80, 80, 80, 0.8);
    &.entryEyecatchDragging {
      background-color: rgba(80, 80, 80, 0.6);
    }
  }
  .entryText {
    margin-top: 20px;
    color: #666666;
  }
}

.entryPrev {
  margin-right: 20px;
}

.entryNext {
  margin-left: 20px;
}

.entryPrev, .entryNext {
  font-weight: bold;
  color: #FFFFFF;
  font-size: 64px;
  cursor: pointer;

  &.inactive {
    color: #333333;
    cursor: not-allowed;
  }
}

.entryTags {
  display: flex;
  margin-left: -9px;
  margin-top: 14px;
  li {
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    padding: 4px 8px;
    margin-left: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}

.entryActions {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  gap: 10px;
  div {
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    width: 32px;
    height: 32px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 4px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.divisor {
  @include divisor(8px);
}

.entryDateTime {
  display: block;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--color-gray-1);
}

.entryTitle {
  font-size: 32px;
}

.tagField {
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  margin-top: 10px;
  border: 1px solid var(--color-gray-2);
  border-radius: 4px;
  padding: 4px 8px;
}

.entryMarkdown {
  ul {
    list-style: initial;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
  }

  td, th {
    border: 1px solid var(--color-gray-3);
  }

  th {
    background-color: var(--color-gray-4);
  }

  td, th {
    padding: 10px;
  }

  blockquote {
    border-left: 3px solid var(--color-gray-3);
    padding-left: 10px;
    margin-left: 10px;
  }
}

.entryTextHidden {
  display: none;
}
