.navigator {
  padding: 20px;
  display: flex;
  justify-content: right;
  ul {
    display: flex;
    list-style: none;
    li {
      margin-left: 12px;
      color: #2F2F2F;
      cursor: pointer;
      transition: color 0.2s;
      &:hover {
        color: #4F4F4F;
      }
    }
  }
}
