* {
  font-family: "M PLUS 1p", sans-serif;
}
body, html {
  font-size: 12px;
  padding: 0;
  margin: 0;
  background-color: #141414;
}

.hidden {
  display: none !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
