@import  "@/css/mixin.scss";

.zoomImageContainer {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  box-sizing: border-box;
  padding: 40px;
  padding-bottom: 0;
  transition: opacity 0.2s, z-index 0.2s;
}

.zoomImageContents {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 2px;
  background-color: #202020;
}

.zoomImageInfo {
  position: absolute;
  right: 20px;
  bottom: 20px;
}


.imageTags {
  display: flex;
  margin-left: -9px;
  margin-top: 14px;
  li {
    font-size: 12px;
    background-color: var(--overlay);
    color: #FFFFFF;
    padding: 4px 8px;
    margin-left: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
}
